<div class="well">
	
  <p class="text-muted"><%= comment.root? ? "Started by" : "Replied by" %> <strong><%= comment.user.name %></strong> on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>
 
  <blockquote>
    <p><%= comment.content %></p>
  </blockquote>
	<% from_reply_form ||= nil %>
	<% unless from_reply_form %>
		<p><%= link_to 'reply', new_comment_path(comment.id) %></p>
	<% end %>
	<% if current_user and current_user.admin %>
		<%= link_to 'delete', '#' %>
		<%= link_to 'hide', '#' %>
	<% end %>
</div>