<! --
	TODO LOW: need to work out way to use defined constants in here more elegantly
	Should probably just have separate templates depending on what type of container it is, so we can move
	the logic from here into the Marionette view
-->

<% if(!annotated_content) annotated_content = content %>

<% if(level < 5){ %>
	<h2><%= ["Chapter", "Part", "Division", "Subdivision"][level-1]+" "+number+"--"+annotated_content %></h2>
<% } else if(level == 5) { %>
	<h2><%= number+" "+annotated_content %></h2>
<% } else { %>
	<% if(level <= 9){ %>
		<table><tbody>
			<tr>
				<td class="table_numeral"><p>(<%= number %>)</p></td>
				<td class="table_content"><p> <%= annotated_content %></p></td>
			</tr>
		</tbody></table>
	<% } else { %>
		<% if(special_paragraph){ %>
			<p class=<%= special_paragraph %>><%= annotated_content %></p>
		<% } else { %>
			<p><%= annotated_content %></p>
		<% } %>
	<% } %>
<% } %>
<% if(level <= 5) { %>
	<div class="expand_modes"></div>
<% } %>