<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<%= link_to image_tag("misc/logo_small.png", alt: "logo", id:"logo"), root_path %>
				<%= link_to "Legal Guide Dog", root_path, id:"header_title" %>
				<p id="alpha">Alpha</p>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home",    root_path %></li>
						<li><%= link_to "About",   about_path %></li>
						<li><%= link_to "Help",    help_path %></li>
						<li><%= link_to "Sign in", '#' %></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div class="container-fluid">
		<%= yield %>
	</div>
</body>
</html>
