<%  # encoding: UTF-8 %>

<% provide(:title, @act.title) %>
<div class = "legislation">
	<%= link_to "Parse Act", parse_act_path, class: "btn btn-large btn-primary" %>
	<%= link_to "Reset Parse", reset_parsing_act_path, class: "btn btn-large btn-primary" %>
	</br>
	<%= image_tag "misc/coat_of_arms.png", alt: "Australian coat of arms", class: "coat_of_arms" %>
	<h1><%= @act.title %></h1>
	<p class="act_no">Act No. <%= @act.number %>, <%= @act.year %></p>
	<h2><%= @act.subtitle %></h2>
	
	<% all_containers = @act.containers %>
	
	<% all_containers.find_all { |c| c.parent_id == nil }.each do |container| # NEED TO WRITE MUCH BETTER ALGORITHM %> 
		<%= render container, :all_containers => all_containers %>
	<% end %>

</div>

<br />
<br />
<br />
<br />
<p>Adapted from Comlaw under its <a href="http://www.comlaw.gov.au/content/copyright">Creative Commons Licence</a>.  Original files <a href="http://www.comlaw.gov.au/Details/C2014C00077">here</a>.</p>
