<%  # encoding: UTF-8 %>

<% provide(:title, @act.title) %>

<div class="row">
	<div class="col-md-10" role="main">
		<%= link_to "Parse Act", parse_act_path, class: "btn btn-large btn-primary" %>
		<%= link_to "Reset Parse", reset_parsing_act_path, class: "btn btn-large btn-primary" %>
		</br>
		<div class = "legislation" data-legislation_id=<%= @act.id %>>	

			<div id="backbone">
			</div>
		
		<p>Adapted from Comlaw under its <a href="http://www.comlaw.gov.au/content/copyright">Creative Commons Licence</a>.  Original files <a href="http://www.comlaw.gov.au/Details/C2014C00077">here</a>.</p>
		</div>
	</div>
	<nav class="col-md-2 hidden-print" id="sidebar">
		<ul class="fixed nav nav-stacked col-md-2">
			<form>
				<label for="quicknav">Jump to section: </label>
				<input id="quicknav" type="text" size="25">
				<input type="submit" value="Go!">
			</form>
			<h2>Contents</h2>
			<% all_containers = @act.all_containers %>	
			<% root_containers = all_containers.find_all { |k, v| v.parent_id == nil } %>
			<% root_containers.each do |k, v| %>
				<li>
					<a href="#<%= v.id %>" class="nav_heading"><%= v.content %></a>
					<ul>
						<% v.children.each do |child| %>
							<li class="nav_section"><a href="#<%= child.id %>"><%= child.content %></a></li>
						<% end %>
					</ul>
				</li>
			<% end %>
		</ul>
	</nav>
</div>